.dropdown {
    margin: 16px 0;
    display: flex;
    justify-content: center;
}

.dropdown-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-right: 8px; 
}
